html {
    height: 100%;
    width: 100%;
   font-family:"Poppins", sans-serif;
  }
  
  body {
    /* display: table; */
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 5rem;
    background-color: rgb(77, 126, 204);
    padding:0;
  }
  
  
  
  .logo{
    width: auto;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;
   
  }
  nav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    background-color: rgb(77, 126, 204);
  }
  .container-fluid{
    background-color: rgb(77, 126, 204);
  }
  nav ul{
    width: 60%;
    /* border: 2px solid; */
    display: flex;
    justify-content: right;
    position: absolute;
    right:5px;
  }
  nav ul a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
    width:100%;
    right:3px;
  }
  #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40vh;
    position: relative;
   
    color: rgb(138, 134, 134);
  }
  .centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;
    position: relative;
    left: 20%;
  }
  #bottom{
    background-color: rgb(77, 126, 204);
    color: white;
    width: 100%;
    
  }
  .ctnt{
    display: flex;
    flex-direction: column;
    width: 45%;
    position: relative;
    left: 30%;
    align-items: center;
    justify-content: center;
    height: 45vh;
    /* border: 2px solid; */
  }
  
  #whatWedo{
    border: 0px solid;
    position: relative;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* flex-direction: column; */
  }
  /* #pricing{
    border: 1px solid;
    margin-top: 5%;
  } */
  .columns {
  
    width: 33%;
    height: 27vh;
    padding: 1px;
    transition: 1s, ease-in;
    box-shadow: black;
    transform: scale(90%);
    box-shadow: 0 8px 12px 0 black;
  
  }
  .price{
    padding: 0;
  }

  /* Style the list */
  
  .container3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

 
  .columns:hover {
    box-shadow: 0 8px 12px 0  rgb(77, 126, 204);
    transform: scale(100%);
  }

 

  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  /* Grey list item */
  .price .grey {
    background-color: rgb(77, 126, 204);
    font-size: 20px;
    width: 100%;
  }

  .navbar-nav a{
    color: white;
  }
  /*media query*/
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }

   
   

    
    nav ul li a{
      font-size: medium;
      color: white;
    }

    
    .navbar-nav{
      background-color: rgb(71, 89, 145);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      
    }

    #contactus{
      margin-bottom: 2%;
      width: 100%;
      display: flex;

    }
    #contactus .content{
      border: solid;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #home{
      align-items: center;
      justify-content: center;
      border: solid;
    }
    #home img{
      width: 95%;
    }
    #whatWedo{
      height: 70vh;
      flex-direction: column;
    }
    .centered1{
      width: 80%;
    }
    #contactus .left-side{
      border: solid;
      width: 90%;
      display: flex;
      justify-content: space-around;
    }
    .split{
      width: 20%;
    }
  }
/*media query end*/


  .container2{
    display: flex;
    position: relative;
    margin-top: 2%
  }
  .card{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 40%;
    height: 30vh;
    right: 10%;
    top: 15%;
    position: absolute;;
    align-items: center;
    justify-content: center;
    transition:  1s ease-in-out;
  }
  .cards{
    display: flex;
  }
  .card ul{
    display: flex;
    flex-direction: column;
  }
  
  .img2{
    position: relative;
    left: 10%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
  }
  
  /* CONTACT US DETAILS */

  .container4{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container4 .content .left-side{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 8px 12px 0  rgb(254, 254, 255);
    transform: scale(100%);
  }
  
  .content .left-side .details{
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color:rgb(77, 126, 204);
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #90909d;
  }
  
 
  
  
  


/*SPLITTING PART */
/*   .split {
    height: 100%;
    width: 34%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
 */
  /* Control the left side */
/*   .left {
    left: 0;

    background-color:  rgb(77, 126, 204);
  } */

  /* Control the right side */
/*   .right {
    right: 0;
    background-color:white;
    
  }
 */
  /* If you want the content centered horizontally and vertically */
.centered5 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: transla  .te(-50%, -50%);
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
 */
  /* Style the image inside the centered container, if needed */
  .centered1 img {
    width: 90%;
    margin: 2%;
  }

  

  .modal{
    margin: 6px;
    padding:0;
  box-sizing: border-box;
  }

  .video-container{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    pointer-events: none;
    transition:all 0.38;

  }

  .btn{
    text-decoration: none;
    padding:5px 10px;
    background-color: rgb(104, 149, 221);
    color:white;
    border-radius:40px;
    font-family: sans-serif;
  }
  .video-container.close{
    position: absolute;
    top:5;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 16px;
    transform: translate(0%, -50%) rotate(45deg);
    float: right;
    width: auto;
    height: auto;
   
    cursor: hand;
  }
  .video-container.show{
    pointer-events: all;
    opacity:1;
  }
  .video-container.show video{
    transform:scale(1);
  }

  .video-container video{
    width:90%;
    max-width: 600px;
    transform:scale(0);
    box-shadow:0 20px 20px white;
    outline:none;
    transition:all 0.3s;
  }