


/* Split the screen in half */
/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



/* Control the right side */
/* .border-bottom {
  right: 0;
  background-color: rgb(6, 228, 72);
} */

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */ 


html {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 3rem;
    background-color: rgb(55, 98, 166);
    padding: 1% 0;
  }
  .logo{
    width: 30%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3%;
    padding: 2% 0;
  }
  nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  nav ul{
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
  }
  nav ul a{
    text-decoration: none;
    font-size: x-large;
    color: white;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40vh;
    position: relative;
    left: 20%;
    color: rgb(138, 134, 134);
  }
  .centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;
    position: relative;
    left: 20%;
  }
  #bottom{
    background-color: rgb(118, 160, 102);
    color: white;
  }